{% extends 'core/cadastro.html' %}
{% load static %}
{% block main %}
<main>
    <div class="row">
        <div class="col">
            <form role="form" class="form" method="POST" novalidate>{% csrf_token %}
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr><td><legend>Realizar Login</legend></td></tr>
                            {{ form.as_table }}
                            <tr><td><button type="submit" class="btn btn-warning">Login</button></td></tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock main %}