<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}{% endblock title %}
    {% block style %}{% endblock style %}
    {% block script %}{% endblock script %}
</head>
<body>
    {% block header %}{% endblock header %}
    {% block nav %}{% endblock nav %}
    {% block section %}{% endblock section %}
    {% block footer %}{% endblock footer %}
</body>
</html>