{% extends 'core/index.html' %}
{% load static %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'core/css/calendario.css' %}">
{% endblock style %}
{% block section %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        {{ calendario }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock section %}