{% extends 'core/index.html' %}
{% load static %}
{% block section %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            {% for list in consultas %}
                                <tr>
                                    <td><legend>{{ list.data }}</legend></td>
                                    <td><button type="button" onclick="location.href='/'" class="btn btn-warning">Imprimir Requisição</button></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock section %}