{% extends 'core/base.html' %}
{% load static %}
{% block html %}
<html lang="pt-br">
    {% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block stylesheet %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
        {% endblock stylesheet %}
        {% block javascript %}
        <script type="text/javascript" src="{% static 'jquery/js/jquery.slim.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'popper/js/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/index.js' %}"></script>
        {% endblock javascript %}
        {% block title %}
        <title>Geru Sorridente</title>
        {% endblock title %}
    </head>
    {% endblock head %}
    {% block body %}
    <body>
        <div class="container">
            {% block header %}
            <header>
                <div class="row">
                    <div class="col text-center">
                        <img class="img-responsive" src="{% static 'core/img/logo.png' %}" alt="Logo">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <nav id="navbar-top" class="navbar navbar-blue">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col"><a href="/" class="nav-name">Inicio</a></th>
                                            <th scope="col"><a href="/calendario" class="nav-name">Consulta</a></th>
                                            {% if user.is_authenticated %}
                                            <th scope="col" class="nav-name text-right">{{ user.nome }}</th>
                                            <th scope="col"><a href="{% url 'auth.logout' %}" class="text-right">Sair</a></th>
                                            {% else %}
                                            <th scope="col"><a href="/cadastro" class="nav-name">Cadastro</a></th>
                                            <th scope="col"><a href="{% url 'auth.login' %}" class="nav-name">Login</a></th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </nav>
                    </div>
                </div>
            </header>
            {% endblock header %}
            {% block main %}
            <main>
                <div class="row">
                    <div class="col">
                    </div>
                </div>
            </main>
            {% endblock main %}
            {% block footer %}
            <footer>
                <div class="row">
                    <div class="col">
                        <nav class="navbar navbar-blue">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td><a href="http://tomardogeru.se.gov.br"><img class="img-responsive" src="{% static 'core/img/logo_prefeitura.jpg' %}" alt="Logo da Prefeitura" height="100px"></a></td>
                                            <td><a href="#"><img class="img-responsive" src="{% static 'core/img/logo_saude.jpeg' %}" alt="Logo da Secretaria de Saúde" height="100px"></td></td>
                                            <td><a href="http://dab.saude.gov.br/portaldab/biblioteca.php?conteudo=brasil_sorridente"><img class="img-responsive" src="{% static 'core/img/logo_brasil_sorridente.jpg' %}" alt="Logo do Brasil Sorridente" height="100px"></td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </nav>
                    </div>
                </div>
            </footer>
            {% endblock footer %}
        </div>
    </body>
    {% endblock body %}
</html>
{% endblock html %}