{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    <title>Geru Sorridente</title>
{% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
{% endblock style %}
{% block script %}
    <script type="text/javascript" src="{% static 'jquery/js/jquery.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/js/jquery.mask.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'popper/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/index.js' %}"></script>
{% endblock script %}
{% block header %}
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <img class="img-responsive" src="{% static 'core/img/logo.png' %}" alt="Logo">
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block nav %}
    <nav id="navbar-top" class="navbar navbar-expand-lg navbar-blue">
        {% if user.is_authenticated %}
            {% if user.tipo == 1 %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/calendario">Calendário de Consultas<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/agenda">Criar Agenda<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><h1>Equipe {{ user.equipe.area|stringformat:"02d" }}</h1></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item active"><h1>{{ user.nome }}</h1></li>
                    <li class="nav-item active"><a class="btn btn-warning" href="{% url 'auth.logout' %}">Sair</a></li>
                </ul>
            {% elif user.tipo == 2 %}
            {% elif user.tipo == 3 %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/calendario">Calendário de Consultas<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/consultas">Consultas Agendadas<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><h1>Equipe {{ user.acs.equipe.area|stringformat:"02d" }} - Micro {{ user.acs.micro|stringformat:"02d" }}</h1></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item active"><h1>{{ user.nome }}</h1></li>
                    <li class="nav-item active"><a class="btn btn-warning" href="{% url 'auth.logout' %}">Sair</a></li>
                </ul>
            {% endif %}
        {% else %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form role="form" class="form-inline my-lg" method="POST" action="{% url 'auth.login' %}" novalidate>{% csrf_token %}
                <input type="text" name="username" autofocus maxlength="254" required id="id_username" />
                <input type="password" name="password" required id="id_password" />
                <button type="submit" class="btn btn-warning">Entrar</button>
            </form>
        {% endif %}
    </nav>
{% endblock nav %}
{% block section %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    {% if user.is_authenticated %}
                    {% else %}
                        <form role="form" class="form" method="POST" novalidate>{% csrf_token %}
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr><td><legend>Realizar Cadastro</legend></td></tr>
                                            {{ form.as_table }}
                                        <tr><td><button type="submit" class="btn btn-warning">Cadastrar</button></td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock section %}
{% block footer %}
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-5">
                    <div class="d-flex justify-content-start">
                        <a href="http://tomardogeru.se.gov.br"><img class="img-responsive" src="{% static 'core/img/logo_prefeitura.png' %}" alt="Logo da Prefeitura" height="100px"></a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-center">
                        <a href="http://dab.saude.gov.br/portaldab/biblioteca.php?conteudo=brasil_sorridente"><img class="img-responsive" src="{% static 'core/img/logo_brasil_sorridente.png' %}" alt="Logo do Brasil Sorridente" height="100px"></a>
                    </div>
                </div>
                <div class="col-5">
                    <div class="d-flex justify-content-end">
                        <a href="#"><img class="img-responsive" src="{% static 'core/img/logo_saude.png' %}" alt="Logo da Secretaria de Saúde" height="100px"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}