@font-face {
    font-family: "Cocktail Bubbly";
    src: url("../fonts/cockb.ttf") format("truetype");
}

h1 {
    font-family: "Cocktail Bubbly";
    color: white;
}

html, body {
    height: 100%;
}

section {
    min-height: 100%;
}

footer {
    background-color: #7190c9;
    height: 100px;
}

footer img {
    height: 100px;
}

img {
    max-width: 100%;
}

a {
    font-size: 20px;
    color: white;
}

legend {
    font-size: 40px;
    color: #7190c9;
}

label {
    color: #7190c9;
}

.errorlist {
    color: red;
}

.nav-name {
    font-family: "Cocktail Bubbly";
    font-size: 30px;
    color: white;
}

.navbar-blue {
    background-color: #7190c9;
}