@font-face {
    font-family: "Cocktail Bubbly";
    src: url("../fonts/cockb.ttf") format("truetype");
}

main {
    min-height: 800px;
}

img {
    max-width: 100%;
}

a {
    color: white;
}

.nav-name {
    font-family: "Cocktail Bubbly";
    font-size: 30px;
    color: white;
}

.navbar-blue {
    background-color: #7190c9;
}